# Java files
*.class

# Vim files
*.swp

# Ignore gradle stuff
.gradle
build

# Ignore test homework repository files
Test.txt
TestDir

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
